.dropdown {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}

.dropdown-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-content {
  background-color: #f6f6f6;
  color: #080808;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0 0 10px 10px;
  max-height: 500px; /* limite quand ouvert */
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.dropdown-content.closed {
  max-height: 0;
  padding: 0 20px; /* garder un peu de padding horizontal */
  overflow: hidden;
}

.dropdown-arrow {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.dropdown-arrow.up {
  transform: rotate(180deg);
}

