.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* logo à gauche, liens à droite */
  align-items: center;
  max-width: 1240px;
  margin: 0 auto; /* centrer la navbar */
}

.navbar-logo img {
  height: 68px;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.navbar-link {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-link.active {
  text-decoration: underline;
}

/* -------- Responsive -------- */
@media (max-width: 768px) {
  .navbar {
    padding: 17px 21px 1px 21px;
  }

  .navbar-logo img {
    height: 40px; /* logo plus petit */
  }

  .navbar-links {
    gap: 15px;
  }

  .navbar-link {
    font-size: 12px;
    text-transform: uppercase; /* style mobile */
  }
}
