.home-container {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

/* Grille des logements */
.logement-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 50px;
  padding: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 40px 0;
  justify-content: center;
}

/* Mobile */
@media (max-width: 767px) {
  .home-container {
    padding: 10px;
  }

  .logement-list {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 11px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: transparent;
  }
}