.logement-container {
  font-family: 'Montserrat', sans-serif;
  max-width: 1240px;   
  margin: 0 auto;      
  padding: 0 20px;   
}

/* Header (titre + host + rating) */
.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* Titre + localisation */
.logement-info h1 {
  font-size: 36px;  
  margin: 0;
  color: #ff6060;
  font-weight: 500;
}

.location {
  color: black;
  margin-top: 5px;
  font-weight: 500;
  font-size: 18px;
}

/* Tags */
.tags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 600;
}


.logement-host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.host-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  color: #ff6060;
  font-size: 18px;
  margin: 0;
  text-align: right;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* Stars */
.rating {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.star-image {
  width: 24px;
  height: 24px;
}

/* Dropdowns */
.logement-dropdowns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start; /* important : évite le stretch */
  margin-top: 30px;
}

.logement-dropdowns > div {
  flex: 1;
}


@media (max-width: 767px) {
  .logement-container {
    padding: 0 20px;
  }

  .slide-image {
    width: auto;
    height: 255px;
  }

  .slideshow {
    position: relative;
    width: 100%;
    height: 255px;
        
  }

  .logement-header {
    flex-direction: column;
    gap: 20px;
  }

  .logement-info h1 {
    font-size: 18px;
  }

  .location {
    font-size: 14px;
  }

  .tags {
    gap: 8px;
  }

  .tag {
    font-size: 12px;
    padding: 4px 12px;
  }

  .logement-host-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .host-name {
    font-size: 12px;
  }

  .host-picture {
    width: 40px;
    height: 40px;
  }

  .star-image {
    width: 16px;
    height: 16px;
  }

  .logement-dropdowns {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
}
